/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background-color: #0f1133;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23444240' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23055455'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
}
@media screen and (max-width: 500px) {
  body {
    overflow-x: hidden;
  }
}
.container {
  width: 800px;
  margin: 0 auto;
  font-family: "Quicksand", sans-serif;
  background-image: url(../img/white-waves.png);
  border-radius: 10px;
}
@media screen and (max-width: 500px) {
  .container {
    width: 500px;
    overflow-x: hidden;
  }
}
header {
  margin: 20px 0 60px 0;
  padding: 20px;
}
@media screen and (max-width: 500px) {
  header {
    margin: 0;
    padding: 20;
  }
}
header nav {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 500px) {
  header nav {
    justify-content: center;
  }
}
header nav a {
  padding: 10px;
  text-decoration: none;
  color: #0f1133;
  transition-property: all;
  transition-duration: 0.3s;
}
header nav a:hover {
  color: #0f1133;
  transform: scale(1.1);
}
.intro {
  width: 100%;
  color: #0f1133;
  padding: 50px 30px;
  text-align: center;
}
.intro .selfie {
  width: 30%;
  height: 50%;
  border-radius: 5px;
  margin-bottom: 10px;
}
@media screen and (max-width: 500px) {
  .intro .selfie {
    display: none;
  }
}
.intro h1 {
  font-size: 3.5rem;
  margin-bottom: 10px;
}
@media screen and (max-width: 500px) {
  .intro h1 {
    font-size: 3.7rem;
    margin-bottom: 20px;
  }
}
.intro h2 {
  font-size: 1.5rem;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #0f1133;
}
.intro p {
  font-size: 1.4rem;
  color: #0f1133;
  line-height: 1.4;
  margin: 20px 0 60px 0;
  text-align: left;
}
.intro a {
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #0f1133;
  color: #0f1133;
  font-size: 1.3rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: background-color color;
  transition-duration: 0.3s;
}
.intro a:hover {
  background-color: #0f1133;
  color: white;
}
.skills {
  width: 100%;
  margin-bottom: 20px;
  color: #0f1133;
  padding: 50px 30px;
}
.skills h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5rem;
}
.skills .skills-parent .skills-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  text-align: center;
}
.skills .skills-parent .skills-flex .fab {
  margin-top: 50px;
}
.skills .skills-parent .skills-flex h1 {
  font-size: 2.3rem;
  text-align: center;
}
.skills .skills-parent .skills-flex h2 {
  font-size: 1.4rem;
}
.skills .skills-parent .skills-flex p {
  font-size: 1.4rem;
  color: #0f1133;
  line-height: 1.4;
}
.skills .skills-parent .skills-flex .icons {
  width: 30%;
}
.bottom {
  width: 100%;
  margin-bottom: 40px;
  color: #0f1133;
  padding: 50px 30px;
}
.bottom h2 {
  font-size: 2.5rem;
  text-align: center;
  margin: 20px 0 60px 0;
}
.bottom .bottom-parent {
  display: flex;
  justify-content: space-evenly;
}
.bottom .bottom-parent .bottom-text p {
  margin-top: 20px;
  font-size: 1.4rem;
  color: #0f1133;
  line-height: 1.4;
}
@media screen and (max-width: 500px) {
  .bottom .bottom-parent .bottom-text p {
    font-size: 1rem;
    margin-top: 10px;
  }
}
.contact {
  width: 100%;
  padding: 50px 30px;
}
.contact h1 {
  font-size: 2.5rem;
  text-align: center;
}
.contact .info {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}
.contact .info h2 {
  box-sizing: border-box;
  border-bottom: 1px solid #0f1133;
  margin: 60px 0 20px 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 1.2rem;
}
.contact .info p {
  text-align: center;
}
footer {
  width: 100%;
  text-align: center;
  margin: 20px 0 20px 0;
  background-color: #0f1133;
  height: 80px;
  padding: 5%;
  color: white;
}
.top {
  display: flex;
  flex-flow: column wrap;
}
.top h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 40px;
  color: #0f1133;
}
.top img {
  width: 80vh;
  height: 30vh;
  padding: 2%;
}
.projects {
  width: 800px;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  padding: 50px 30px;
}
.projects .project {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 350px;
  text-align: center;
  margin-top: 40px;
}
.projects .project img {
  width: 50%;
}
.projects .project a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #0f1133;
  margin-top: 20px;
}
.projects .project a:hover {
  text-decoration: underline;
}
